@keyframes blurAnimation {
  0% {
    filter: blur(20px); /* Начальный размытый вид */
    opacity: 0; /* Начальная прозрачность */
  }
  100% {
    filter: blur(0); /* Конечный неразмытый вид */
    opacity: 1; /* Конечная непрозрачность */
  }
}

.animate-blur {
  animation-name: blurAnimation; /* Указываем название анимации */
  animation-duration: 1s; /* Продолжительность анимации (2 секунды в данном случае) */
}